@model OrderOnlineFood.Models.Restaurant;
<h1>Adding......</h1>
<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <input type="submit"/>
    <span asp-validation-for="Name"></span>


</form>