@model OrderOnlineFood.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Restaurant Details</h1>
    <h3>@Model.Id</h3>
    <h2>@Model.Name</h2>
    <h3>...........Details.........</h3>

</div>
</body>
</html>